@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    background-color: #FEF6F6;
}

.navbar {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
}

.navbar-light .navbar-brand {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 1.7rem;
    color: black;
}

.bg-light {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.navbar-light .navbar-nav .nav-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: black;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-light .navbar-brand span {
    color: #F54748;
}

.main {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 60rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
}

.main-text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    text-align: left;
}

.main-text-mobile p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    text-align: center;
}

#main-img-mobile {
    width: 100%;
}

.main-img-mobile {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.main-text span {
    color: #F54748;
}

.main-text-mobile span {
    color: #F54748;
}

.container-fluid {
    background-color: #FEF6F6;
}
.nav-button {
    background-color:#F54748;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
	padding: 0.5rem 2.5rem;
    border: none;
}
.nav-button:hover {
	background-color: black;
}
.nav-button:active {
	position:relative;
	top:1px;
}

.main-button {
	background-color:#000000;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
	padding: 1rem 4rem;
    border: none;
    margin-top: 1rem;
}
.main-button:hover {
	background-color:#f54748;
}
.main-button:active {
	position:relative;
	top:1px;
}

.main-button-mobile-div {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.main-button-mobile {
	background-color:#111111;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
	padding: 1rem 4rem;
    border: none;
    text-align: center;
    margin: 1rem 0rem 2rem 0rem;
}
.main-button-mobile:hover {
	background-color:#f54748;
}
.main-button-mobile:active {
	position:relative;
	top:1px;
}

.second {
    margin-bottom: 8rem;
}

.third-bc {
    background-color: white;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
}

.about-text {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4rem;
}

.about-text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
}

.about-text span {
    font-weight: 600;
}

.box-1 {
    width: 25rem;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
    gap: 2rem 5rem;
  }
  
.wrap { 
    flex-wrap: wrap;
  }  

.test {
    width: 1224px;
}

#about-img {
    padding-right: 1rem;
}

.main-service-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.6rem;
    text-align: center;
    margin-top: 6rem;
    color: #F54748;
}

.service {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.05);
    width: 18rem;
    margin-top: 3rem;
    padding: 2rem;
}

.service-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.service-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 2rem 1rem 1rem 1rem;
}

.service-button {
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    margin-right: auto;
    margin-left: auto;
    width: 14rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    text-align: center;
    margin-top: 40px;
}
.service-button:hover {
	background-color:#f54748;
}
.service-button:active {
	position:relative;
	top:1px;
}

.fourth, .fifth {
    margin-bottom: 6rem;
}

.bot {
    background-color: white;
    border-radius: 30px;
    width: 65rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem
}

.bot-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
}

.bot-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.contact {
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 30px;
    width: 65rem;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem 1rem 3rem 1rem;
    margin-bottom: 4rem;
}

.contact-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 2.6rem;
    color: #f54748;
    text-align: center;
}

.contact-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

.contact-img {
    text-align: center;
    margin-top: 2rem;
}

@media (max-width: 1200px) {
    .bot {
        display: block;
        text-align: center;
        width: 90%;
    }
    #bot-img {
        margin-top: 1rem;
        width: 18rem;
    }
    .bot-title {
        font-size: 1.7rem;
        font-weight: 800;
    }
    .bot-text {
        font-size: 1rem;
    }
    .contact {
        width: 90%;
    }
    .contact-title {
        font-size: 2rem;
    }
    .contact-text {
        font-size: 1rem;
    }
    #contact-img {
        width: 22rem;
    }
}

@media (max-width: 843px) {
    .main-service-title {
        width: 412px;
        margin-left: auto;
        margin-right: auto;
    }
    .fourth, .fifth {
        margin-bottom: 3rem;
    }
    .flex-container {
        gap: 0rem 0rem;
    }
}

@media (max-width: 944px) {
    .about-text {
        margin-left: 12%;
        margin-right: 12%;
    }
}

@media (max-width: 1048px) {
    .service {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 991.5px) {
    #main-img {
        display: none;
    }
    .main {
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .main p {
        text-align: center;
    }
    .nav-button {
        display: none;
    }
    .second {
        display: none;
    }
}

@media (min-width: 991.5px) {
    .second-mobile {
        display: none;
    }
}

@media (max-width: 624px) {
    .main-text-mobile p {
    font-size: 1.5rem;
    padding-top: 4rem;

    }
    .main-img-mobile {
        width: 320px;
    }
    .main-button-mobile {
        font-size: 0.8rem;
        padding: 0.9rem 3.9rem;
    }
    .second-mobile {
        padding-bottom: 5rem;
    }
    .box-1 {
        width: 20rem;
    }
}

@media (max-width: 494px) {
    #contact-img {
        width: 14rem;
    }
    .contact-title {
        font-size: 1.8rem;
    }
    .contact-text {
        font-size: 0.8rem;
    }
    #bot-img {
        width: 14rem;
    }
    .bot-title {
        font-size: 1.5rem;
    }
    .bot-text {
        font-size: 0.8rem;
    }
}
